@import './base.css';

/* Add global project styles here */

* {
  font-size: 16px;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

body {
  margin: 0;
  padding: 0;
  font-family: Carme, Helvetica, sans-serif;
  background-color: #e5e7ed;
  color: rgb(13, 13, 39);
  line-height: 1.5rem;
}

main {
  min-height: 100dvh;
}

a:visited {
  color: inherit;
}

/* ----------------------  FONTS / TEXT  ---------------------- */
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.carme-regular {
  font-family: "Carme", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 2.8rem;
  line-height: 4.0rem;
  color: turquoise;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.1rem;
}

/* ----------------------  BUTTONS  ---------------------- */
button.primary, button.secondary, button.tertiary {
  padding: 6px 12px;
  cursor: pointer;
}

.primary {
  color: white;
  background-color: #1b1ba6;
  border: 1px solid #1b1ba6;
  border-radius: 5px;
}

.primary:hover {
  background-color: #4c4ca3;
  border: 1px solid #4c4ca3;

}

.secondary {
  color: #1b1ba6;
  background-color: transparent;
  border: 2px solid #1b1ba6;
  border-radius: 5px;
  font-weight: bold;
}

.secondary:hover {
  background-color: #4c4ca3;
  color: white;
  border: 2px solid #4c4ca3;
}

.tertiary {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #fcfcfc;
  border-radius: 5px;
}

.tertiary:hover {
  background-color: #2e2bd1;
  color: white;
  border: 1px solid #2e2bd1;
}

.search-pair-btn {
  margin-left: -5px;
  padding: 6px 12px;
  border: 1px solid grey;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-pair-input {
  padding: 6px 12px;
  border: 1px solid grey;
  border-radius: 5px 0 0 5px;
}

.primary-secondary-pair {
  display: flex;
  column-gap: 10px;
}

/* ----------------------  SECTION  ---------------------- */
section {
  width: 75%;
  max-width: 1600px;
  margin: 0 auto 30px auto;
  padding: 30px 35px 45px 35px;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

section h2 i {
  margin-right: 10px;
  font-size: 2rem;
}

.display-area {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.section-heading-left {
    display: flex;
    column-gap: 15px;
}

#search-list input {
    width: 500px;
}

/* ----------------------  CARDS DISPLAY AREA  ---------------------- */
.cards-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* ----------------------  GAME CARDS  ---------------------- */
.game-card {
  width: 18%;
  min-width: 190px;
  border-radius: 8px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3), 0px 11px 14px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  position: relative;
}

/* ---------- Game Image ----------*/
.game-image-card {
  height: 150px;
  background-position: center;
  background-size: cover;
  border-radius: 8px 8px 0 0;
}



/* ---------- Game Data ----------*/
.game-data {
  padding: 0 15px;
}

.game-data-heading {
  margin: 0;
}

.game-data-area p {
  margin-top: 0;
}

.game-data-area {
  margin-top: 0;
  padding: 0 15px 50px 15px;
}

/* ---------- Game Bottom ----------*/

/* ----------------------  GAME LIST  ---------------------- */
.list-area {
  width: 100%;
}

.game-image-list {
  width: 300px;
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.item-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin: 0 auto; */
}

.items-left {
  display:flex;
  align-items: center;
  column-gap: 1.5rem;
  width: 80%;
}
.items-right {
  border: 1px dotted red;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 20%;
}

.items-right-top {
  display: flex;
  flex-direction: column;
}

/* ---------------------------------  DARK MODE SETTINGS  --------------------------------- */
.dark-mode {
  background-color: rgb(30, 34, 56);
  color: white;
  
  /* ----------------------- DARK BUTTON ----------------------- */
  .primary {
      color: white;
      background-color: #c78502;
      border: 1px solid #c78502;
  }
  
  .primary:hover {
      background-color: #a96c02;
      border: 1px solid #a96c02;
  }

  .secondary {
      color: #dc9302;
      background-color: transparent;
      border: 2px solid #dc9302;
  }
  
  .secondary:hover {
      background-color: #a96c02;
      color: white;
      border: 2px solid #a96c02;
  }

  /* ----------------------- DARK  ----------------------- */
 
  section {
      /* background-color: #1f2447; */
      border: none;

  }

  .game-card {
      background-color: #2b2d47;
  }

  /* ----------------------- DARK GAME CARD ----------------------- */


}