* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Carme, Helvetica, sans-serif;
    background-color: #e5e7ed;
    color: rgb(13, 13, 39);
    line-height: 1.5rem;
}

main {
    overflow-y: auto;
}

a:visited {
    color: inherit;
}

/* ----------------------  FONTS / TEXT  ---------------------- */
.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.carme-regular {
    font-family: "Carme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 2.8rem;
    line-height: 4.0rem;
    color: turquoise;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.5;
}

/* ----------------------  BUTTONS  ---------------------- */
button.primary, button.secondary, button.tertiary {
    padding: 10px 15px;
    cursor: pointer;
}

.primary {
    color: white;
    background-color: #1b1ba6;
    border: 1px solid #1b1ba6;
    border-radius: 5px;
}

.primary:hover {
    background-color: #4c4ca3;
    border: 1px solid #4c4ca3;

}

.secondary {
    color: #1b1ba6;
    background-color: transparent;
    border: 2px solid #1b1ba6;
    border-radius: 5px;
    font-weight: bold;
}

.secondary:hover {
    background-color: #4c4ca3;
    color: white;
    border: 2px solid #4c4ca3;
}

.tertiary {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #fcfcfc;
    border-radius: 5px;
}

.tertiary:hover {
    background-color: #2e2bd1;
    color: white;
    border: 1px solid #2e2bd1;
}

/* ----------------------  MODAL LOGIN  ---------------------- */
.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    padding-top: 80px;
}

/* span.psw {
    float: right;
    padding-top: 16px;
} */

.login-container {
    display: flex;
    flex-direction: column;
}

.login-container input{
    margin-bottom: 15px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border-radius: 8px;
    width: 25%;
    max-width: 600px;
    min-width: 420px; 
    position: relative;
}

.image-container {
    height: 250px;
    background-image: linear-gradient(rgba(51, 13, 176, 0.8), rgba(64, 69, 217, 0.8)),url('../images/thomas-despeyroux-i_qs6f6y8ag-unsplash.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-color: #1b1625;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    padding: 25px;

}

.login-container input {
    padding: 10px;
}

.final-choice-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 15px 25px;
}

/* The Close Button */
.close {
    position: absolute;
    right: 12px;
    top: 12px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}


/* ----------------------  HEADER  ---------------------- */
header {
    background-color: #6666ff;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15%;
    /* max-width: 1440px; */
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #4028f5;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

/* ----------------------  NAV LEFT  ---------------------- */
.nav-left {
    display: flex;
    align-items: center;
}

.brand-title {
    display: flex;
    align-items: center;
}

.brand-title img {
    height: 48px;
}

/* ----------------------  NAV RIGHT  ---------------------- */
.nav-right {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav-darkmode i {
    font-size: 20px;
    cursor: pointer;
    color: #1b1ba6;
}

.nav-darkmode i:hover {
    animation: super-shake 0.3s;
}

@keyframes super-shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/* ----------------------  SECTION  ---------------------- */
section {
    width: 70%;
    max-width: 1440px;
    margin: 0 auto 30px auto;
    padding: 30px 35px 45px 35px;
    /* background-color: white; */
    border-radius: 5px;
    /* border: 1px rgb(215, 215, 215) solid; */
    /* box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.1); */
}

.section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

section hr {
    margin-bottom: 30px;
}

section h2 i {
    margin-right: 10px;
    font-size: 2rem;
}

/* ----------------------  HERO SECTION  ---------------------- */
#hero-section {
    background-image: linear-gradient(rgba(29, 8, 97, 0.8), rgba(126, 96, 216, 0.8)),url('../images/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg');
    width: 100%;
    max-width: none;
    /* height: 500px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-color: #1b1625;
    display: flex;
    justify-content: center;
    /* column-gap: 5rem; */
    color: white;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 5rem 10rem;
}

#hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

#hero-img {
    width: 500px;
    display: flex;
    align-items: center;
}

#hero-img img {
    width: 100%;
}

#hero-section button:hover {
    animation: shake 0.3s;
}
/* ----------------------  HOW IT WORKS SECTION  ---------------------- */

#how-it-works-area {
    background-image: linear-gradient(rgba(24, 13, 58, 0.9), rgba(19, 14, 34, 0.9)), url(/images/george-flowers-blYe0BupDuQ-unsplash.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding: 30px;
    border-radius: 10px;
}

#how-it-works-area > h2 {
    font-size: 2.0rem;
    width: 75%;
    text-align: center;
    margin: 70px auto;
    color: rgb(57, 213, 249)

}

.how-it-works-content {
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.how-it-works-text-container {
    width: 50%;
}

.how-it-works-image-container {
    width: 40%;
    text-align: center;
}

.how-it-works-image-container img {
    width: 70%;
}

#how-it-works-area p {
    font-size: 1.5rem;
    line-height: 2.1rem;
    /* margin-bottom: 1rem; */
}

.how-it-works-text-container p {
    font-size: 19rem;
}

.how-it-works-content h3 {
    font-size: 1.8rem;
    color: orange;
}

/* ----------------------  BROWSE GAMES SECTION  ---------------------- */



/* ----------------------  GAME CARDS  ---------------------- */

.game-card {
    width: 23%;
    border-radius: 8px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3), 0px 11px 14px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    /* display: flex; */
    /* column-gap: 1rem; */
    position: relative;
}

#game-card-area {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-flow: row wrap;
    border: 1px red dotted;
}

.game-area-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* ---------- Game Image ----------*/
.game-image {
    height: 275px;
    background-color: #7a7a7a;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px 8px 0 0;
}

/* ---------- Game Data ----------*/
.game-data-heading {
    margin: 0;
}

.game-data-area p {
    margin-top: 0;
}

.game-data-area {
    margin-top: 0;
    padding: 0 15px 50px 15px;
}

@keyframes shake {
    0% {transform: rotate(0deg);}
    20% {transform: rotate(-4deg);}
    50% {transform: rotate(0deg);}
    70% {transform: rotate(4deg);}
    100% {transform: rotate(0deg);}
}

/* ---------- Game Bottom ----------*/
.game-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    /* margin-top: 10px; */
    position: absolute;
    bottom: 0;
}

.description-button {
    cursor: pointer;
    padding: 8px;
    background-color: transparent;
    color:purple;
    border: 1px solid purple;

    border-radius: 25px;
}

.description-button:hover {
    background-color: purple;
    color: white;
}

.trash-icon {
    cursor: pointer;
    font-size: 20px;
}

.trash-icon:hover {
    color: orange;
}




/* ----------------------  STAFF TOP PICKS SECTION  ---------------------- */
#tests {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}




/* ----------------------  NEW UNNAMED SECTION  ---------------------- */
#extra-section {
    background-image: linear-gradient(rgba(14, 5, 46, 0.8), rgba(7, 3, 19, 0.8)),url('../images/george-flowers-blYe0BupDuQ-unsplash.jpg');
    width: 100%;
    max-width: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-color: #1b1625;
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 0;
    border-radius: 0;
    padding: 5rem 10rem;
}



/* ----------------------  FOOTER  ---------------------- */
footer {
    background-color: #6666ff;
    min-height: 100px;
    padding: 20px;
    color: white;
}

footer li {
    list-style: none;
}

footer li a {
    text-decoration: none;
}

footer li a:hover {
    color: rgb(26, 23, 118);
}

footer img {
    width: 300px;
}

#footer-area {
    display: flex;
    justify-content: center;
    column-gap: 5rem;
    align-items: flex-start;
}

.footer-links h3 {
    margin-bottom: 0;
}

.footer-links hr {
    width: 200px;
}

#copyright {
    text-align: center;
}

#copyright span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
}

/* ---------------------------------  DARK MODE SETTINGS  --------------------------------- */
.dark-mode {
    background-color: rgb(30, 34, 56);
    color: white;
    
    /* ----------------------- DARK BUTTON ----------------------- */
    .primary {
        color: white;
        background-color: #c78502;
        border: 1px solid #c78502;
    }
    
    .primary:hover {
        background-color: #a96c02;
        border: 1px solid #a96c02;
    }

    .secondary {
        color: #dc9302;
        background-color: transparent;
        border: 2px solid #dc9302;
    }
    
    .secondary:hover {
        background-color: #a96c02;
        color: white;
        border: 2px solid #a96c02;
    }

    /* ----------------------- DARK HEADER ----------------------- */
    header {
        background-color: #0b041a;
    }

    .nav-darkmode i {
        color: white;
    }

    section {
        /* background-color: #1f2447; */
        border: none;

    }

    .game-card {
        background-color: #2b2d47;
    }

    footer {
        background-color: #0b041a;
    }

    /* ----------------------- DARK GAME CARD ----------------------- */
    .description-button {
        padding: 8px;
        background-color: transparent;
        color:orange;
        border: 1px solid orange;
    
        border-radius: 25px;
    }
    
    .description-button:hover {
        background-color: rgb(191, 124, 0);
        border: 1px solid rgb(191, 124, 0);
        color: white;
    }

}

/* ----------------------------------- MEDIA QUERIES ---------------------------------------- */

@media screen and (max-width: 425px) {

    h1 {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 2.0rem;
    }

    

    /* ----------------------  MQ HEADER  ---------------------- */
    .nav-right div, form, button {
        display: none;
    }

    .nav-left {
        display: block;
    }


    /* ----------------------  MQ MOBILE DROPDOWN  ---------------------- */
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        margin: 0 1rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        /* text-align: center; */
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .nav-right {
        display: flex;
        justify-content: space-between;
    }

    /* ----------------------  MQ SECTION  ---------------------- */
    header {
        margin-bottom: 0;
    }

    section {
        width: 100%;
        border-radius: 0;
        margin: 0 auto 15px auto;
        padding: 5px 10px 15px 10px;
    }

    #hero-section {
        flex-direction: column-reverse;
    }


    .game-card {
        flex-direction: column;
        width: 100%;
    }

    /* ----------------------  MQ HERO SECTION  ---------------------- */
    #hero-section {
        padding: 1.5rem;
    }

    #hero-text {
        width: 100%;
    }

    #hero-img {
        width: 100%;
        display: none;
    }

    /* ----------------------  HOW IT WORKS SECTION  ---------------------- */
    #how-it-works-section {
        padding: 0;
    }

    #how-it-works-header {
        margin-left: 10px;
    }

    #how-it-works-section:first-child {
        margin-left: 10px;
        border: 1px blue solid;
    }

    #how-it-works-area {
        border-radius: 0;
    }

    #how-it-works-area > h2 {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        margin: 10px auto;
        color: rgb(57, 213, 249);
    }

    .how-it-works-text-container {
        width: 100%;
    }

    .how-it-works-image-container {
        display: none;
    }

    .how-it-works-content h3 {
        font-size: 1.3rem;
    }

    #how-it-works-area p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    
    /* ----------------------  MQ FOOTER SECTION  ---------------------- */
    #footer-area {
        flex-flow: wrap column;
    }

}